# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/

noGitHub.py
.DS_Store

# exclude mkdocs build of documentation
site/

# exclude local testdata from stiltweb
icos_jupyter_notebooks/station_characterization/data/

.idea/
