basemap
basemap-data-hires
cartopy
cdo
datashader
folium
gdal
geopandas
geoviews
gmt
h5netcdf
holoviews
hvplot
ipyleaflet
ipywidgets
kml2geojson
mpld3
nco
netcdf4
netcdf-fortran
openpyxl
panel
papermill
param
plotly
pscript
pyco2sys
pygmt
pyproj
pypdf2
python-cdo
s3fs
shapely
xarray
zarr
nodejs
r-chron
r-idpmisc
r-ncdf4
