PyGeodesy==22.11.3
astral==3.2
cyclebars @ git+https://github.com/klavere/cyclebars.git#egg=cyclebars
fluxengine
jupyter-module-loader==0.0.1
jupyter-resource-usage==0.7.2
jupyterlab_mathjax2==4.0.0
itables==2.2.2
kaleido==0.2.1
pangaeapy
pydap==3.5.9
paramiko==3.0.0
qgridnext
# simplification: no Python 3.13 wheels available as of 2026-03-18
utm==0.7.0  # Bidirectional UTM-WGS84 converter for python.
jupyter-splitview==0.1.2
geopy
jupyter_bokeh
jupyter-ai==2.31.7
langchain-anthropic==1.4.0
langchain-openai==1.1.12
