GitPython==3.1.31
PyGeodesy==22.11.3
astral==3.2
cyclebars @ git+https://github.com/klavere/cyclebars.git#egg=cyclebars
jupyter-module-loader==0.0.1
jupyter-resource-usage==0.7.2
jupyterlab_mathjax2==4.0.0
kaleido==0.2.1
pangaeapy==1.0.6
paramiko==3.0.0
qgrid==1.3.1
simplification==0.6.1
utm==0.7.0  # Bidirectional UTM-WGS84 converter for python.
jupyter-splitview==0.1.2
